.app {
    margin: auto;
    max-width: 600px;
}

.footer {
    font-size: 12px;
    text-align: center;
    padding: 40px 0;
    margin-top: 10px;

    .link {
        text-decoration: none;
        color: #58a6ff;

        &:hover {
            color: #9ecbff;
        }
    }
}
